.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px dashed #f44336; */
}

.modal{
  padding: 40px;
}

.section-header{
  padding-top: 24px;
  padding-bottom: 25px;  
  border-bottom: 1px solid #ECECEC;
  /* outline: 2px dashed rgb(37, 190, 37); */
}

.section-header .container{
  display: flex;
  align-items: center;
  /* outline: 2px dashed rgb(37, 190, 37); */
}

.footer .container{
  display: flex;
}

.footer{
  padding-top: 60px;
  padding-bottom: 60px;
  /* outline: 2px dashed rgb(37, 190, 37); */
}

.portfolio{
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px dashed rgb(37, 190, 37); */
}

.section-discription{
  padding-top: 94px;
  /* outline: 2px dashed rgb(37, 190, 37); */
}

.section-team{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-backdroud-second);
  /* outline: 2px dashed rgb(37, 190, 37); */
}

.section-what-we-do,
.section-customers{
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px dashed rgb(37, 190, 37); */
} 

.section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}